#sidebar.hidden
  %button.btn.close *
  %ul.photos
  -# TODO: if logged in...
  = link_to "+ photo", new_photo_path, class: 'btn full'
  %ul.sounds
  -# TODO: if logged in...
  = link_to "+ sound", new_sound_path, class: 'btn full' 
#map-canvas

:javascript
  window.locations = #{@locations.to_json}
