#sidebar.hidden
  .location-header
    %hr.path
    %img.marker{src:asset_path('icons/marker-selected.png')}
  %h2.location-name
  %button.btn.close *
  %ul.photos
  -# TODO: if logged in...
  = link_to "+ photo", new_photo_path, class: 'btn full'
  %ul.sounds
  -# TODO: if logged in...
  = link_to "+ sound", new_sound_path, class: 'btn full' 
#map-canvas
#add-marker-btn.btn.add-marker{draggable: true, ondragstart:'drag(event)'}
  &plus;
=# image_tag('icons/new_marker.cur')
:javascript
  window.locations = #{@locations.to_json}
