// #map-canvas.new-marker{
//   cursor:url('/assets/images/icons/new_marker.cur')
// }

.add-marker{
  position:absolute;
  bottom:30px;
  right:30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding:0;
  background-color:transparent;
  width:32px;
  height:38px;
  background-image:url(asset_path('icons/new-location-marker.png'));
  background-repeat:no-repeat;
}