.photo{
  position:relative;
  &.selected{
    &:before{
      content: " ";
      position: absolute;
      top: 0;
      right: 5px;
      display: block;
      background-color: $grey-dark;
      width: 20px;
      height: 20px;
    }
    &:after{
      content:' ';
      position:absolute;
      top:0;
      right:5px;
      border-bottom:20px solid $blue;
      border-right:20px solid transparent;
    }
  }
}

.select-mode .photo{
  cursor:pointer;
}

.sort-mode .photo{
  cursor:move;
}